@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0d0d0d;
  --background: #fff5f0;
  --primary: #743e2a;
  --secondary: #bf7b40;
  --accent: #354037;
}
.dark {
  --text: #f2f2f2;
  --background: #0f0500;
  --primary: #d59f8b;
  --secondary: #bf7b40;
  --accent: #bfcac1;
}

body {
  background-color: var(--background);
  color: var(--text);
}
